// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.mleh {
  // position: relative;
  // bottom: 0px;
  // height: 300px;
  width: auto;
  background-color: @app-background-color;

  .mleh-input-container {
    margin: 5px 5px;
	 background-color: @app-background-color;
    position: relative;
	 width: 100%;
	 border: none;

  }
  .mleh-info {
    margin: 5px 2px;
    width: 100%;
    background-color: red;
  }
  .mleh-list-group {
    overflow: auto;
    height: 420px;
    content: inherit;
    .mleh-list-item {
      background-color: green;
    }
    .mleh-list-item-label {
      width: 20px;
      background-color: purple;
    }
    .mleh-list-item-info {
      float: left;
      width: 100%;
    }

    .mleh-selected-item {
      background-color: @background-color-selected;
    }
  }
}

.mleh-current-item {
  background-color: @background-color-selected;
}
